
*{
    margin: 0;
    padding: 0;
    
}

.fundostars{
    position: absolute;
    z-index: 1;
    
    
}

.retangulocinza{
    position: absolute;
    z-index: 1;
    top:280vh;
}

.star{
    position: absolute;
    z-index: 2;
    width: 50%;
    height: 40%;
    top:23vh;
    left: 20vh;
}

.wars{
    position: absolute;
    z-index: 2;
    width: 50%;
    height: 40%;
    top:23vh;
    right: 20vh;
    
}

.kyloren{
    position: absolute;
    z-index: 3;
    top:2vw;
    width:75%;
    height:100%;
    left:6vw;
}

.criesualegiao{
    position: absolute;
    z-index: 3;
    top: 32vh;
    right: 20vh;
}

.sobreojogo{
    position: absolute;
    z-index: 2;
    top:55vh;
    left:20vw;
    width: 70%;
    height: 60%;
}

.linha{
    position: absolute;
    z-index: 2;
    top:75vh;
    width: 90%;
    left: 10vw;
}

.comeceajogar{
    position: absolute;
    z-index: 4;
    top:45vh;
    width: 40%;
    height:70%;
    left: 8vw;

}

.estruturadejogo{
    position: absolute;
    z-index: 3;
    top:170vh;
    left:40vw;
}

h2{
    font-family: 'Open Sans', sans-serif;
    font-size:2em;
    
}

span{

    font-family: 'Open Sans', sans-serif;
    font-size:1em;
    font-weight:900;

}

 ul{
    position:absolute;
    z-index:3;
    top:180vh;
    list-style:none;
    left:40vw;
    font-family: 'Open Sans', sans-serif;
    font-size:1.5em;
    
}

li{
    padding:20px;
}

a:hover{
    background-color:#d74430;
    color:#fff;
    padding: 20px;
    opacity:0.8;
}
.rey{
    position: absolute;
    z-index: 2;
    top:80vh;
    right:1vh;
}

.dartmaul{
    position: absolute;
    z-index:2;
    top:75vh;

}

.palavraatributos{
    position: absolute;
    z-index:3;
    top:150vh;
    width:50%;
    height:30%;
    left:10vh;
}

.atributosimagem1{
    position: absolute;
    z-index:3;
    height:70%;
    left:9vh;
}

.atributosimagem2{
    position: absolute;
    z-index: 3;
    left:23vw;
    height:50%;
}





   