
*{
    margin: 0;
    padding: 0;
    
}

.fundostars{
    position: absolute;
    z-index: 1;
    
}



.star{
    position: absolute;
    z-index: 2;
    width: 50%;
    height: 40%;
    top:23vh;
    left: 20vh;
}

.wars{
    position: absolute;
    z-index: 2;
    width: 50%;
    height: 40%;
    top:23vh;
    right: 20vh;
    
}

.kyloren{
    position: absolute;
    z-index: 3;
    top:2vw;
    width:75%;
    height:100%;
    left:6vw;
}

.criesualegiao{
    position: absolute;
    z-index: 3;
    top: 32vh;
    right: 22vh;
}

.sobreojogo{
    position: absolute;
    z-index: 2;
    top:60vh;
    left:20vw;
    width: 70%;
    height: 50%;
}

.linha{
    position: absolute;
    z-index: 2;
    top:80vh;
    width: 90%;
    left: 10vw;
}


.comeceajogar{
    position: absolute;
    z-index: 4;
    top:45vh;
    width: 40%;
    height:70%;
    left: 8vw;

}

.estruturadejogo{
    position: absolute;
    z-index: 3;
    top:90vh;
    height: 90%;
    width: 60%;
    left:40vh;
}

.rey{
    position: absolute;
    z-index: 2;
    top:90vh;
    right:2vh;
}





   