
*{
    margin: 0;
    padding: 0; 
    

}

.fundostars{
    position: absolute;
    z-index: 1;
}

.retangulocinza{
    position: absolute;
    z-index: 1;
    top:280vh;
}

.retangulocinza2{
    position:absolute;
    z-index:1;
    top:370vh;
}
.retangulocinza3{
    position:absolute;
    z-index:1;
    top:460vh;
}

.star{
    position: absolute;
    z-index: 2;
    width: 50%;
    height: 40%;
    top:23vh;
    left: 20vh;
}

.wars{
    position: absolute;
    z-index: 2;
    width: 50%;
    height: 40%;
    top:23vh;
    right: 20vh;
    
}

.kyloren{
    position: absolute;
    z-index: 3;
    top:2vw;
    width:75%;
    height:100%;
    left:6vw;
}

.criesualegiao{
    position: absolute;
    z-index: 3;
    top: 32vh;
    right: 20vh;
}

.sobreojogo{
    position: absolute;
    z-index: 2;
    top:55vh;
    left:20vw;
    width: 70%;
    height: 60%;
}

.linha{
    position: absolute;
    z-index: 2;
    top:75vh;
    width: 90%;
    left: 10vw;
}

.comeceajogar{
    position: absolute;
    z-index: 4;
    top:45vh;
    width: 40%;
    height:70%;
    left: 8vw;

}

.estruturadejogo{
    position: absolute;
    z-index: 3;
    top:170vh;
    left:40vw;
}

h2{
    font-family: 'Open Sans', sans-serif;
    font-size:2em;
    
}

span{

    font-family: 'Open Sans', sans-serif;
    font-size:1em;
    font-weight:900;

}

 ul{
    position:absolute;
    z-index:3;
    top:180vh;
    list-style:none;
    left:40vw;
    font-family: 'Open Sans', sans-serif;
    font-size:1.5em;
    
}

li{
    padding:20px;
}

a:hover{
    background-color:#d74430;
    color:#fff;
    padding: 20px;
    opacity:0.8;
}
.rey{
    position: absolute;
    z-index: 2;
    top:80vh;
    right:1vh;
}

.dartmaul{
    position: absolute;
    z-index:2;
    top:75vh;

}

.palavraatributos{
    position: absolute;
    z-index:3;
    top:150vh;
    width:50%;
    height:30%;
    left:10vh;
}

.atributosimagem1{
    position: absolute;
    z-index:3;
    height:70%;
    left:9vh;
    top:160vh;
}

.atributosimagem2{
    position: absolute;
    z-index: 3;
    left:23vw;
    height:50%;
    top:160vh;
}

.stargame{
    position: absolute;
    z-index:3;
    top:160vh;
    height:50%;
    left:33vw;
}

.navesembatalha{
    position:absolute;
    z-index:3;
    top:173vh;
    height:50%;
    left:23vw;
}

.stormtrupers{
    position:absolute;
    z-index:3;
    top:173vh;
    height:50%;
    left:33vw;
}

.novosgraficos{

    position: absolute;
    z-index: 3;
    left:23vw;
    height:50%;
    top:160vh;

}

.hierarquia{

    width:90%;
    height:90%;
    position:absolute;
    z-index: 4;
    top:190vh;
    left:5vw;
    
}



.stormtroopercapapreta{
    position:absolute;
    z-index:4;
}

.comojogar{
    position:absolute;
    z-index:4;
    top:240vh;
    left:25vw;
}
.emnormas{
    position:absolute;
    z-index:4;
    width:70%;
    right:5vw;
    top:247vh;
   
}

.imagemdownload{

    position:absolute;
    z-index:3;
    top:260vh;
    left:20vw;
    width:40%;
    
}

.imagemescolher{
    position:absolute;
    z-index:3;
    top:260vh;
    left:30vw;
    width:40%;
}

.imagemexplorar{
    position:absolute;
    z-index:3;
    top:260vh;
    left:40vw;
    width:40%;
}

.linha2{
    position:absolute;
    z-index:3;
    top:280vh;
    left:23vw;
    width:20%;
}

.linha3{
    position:absolute;
    z-index:3;
    top:280vh;
    left:33vw;
    width:20%;
}

.linha4{
    position:absolute;
    z-index:3;
    top:280vh;
    left:43vw;
    width:20%;
}

.retangulolaranja{
    position:absolute;
    z-index:3;
    top:600vh;
}


.aplicativo{
    position:absolute;
    z-index:4;
    top:310vh;
    left:5vw;
   
}

.comunidade{
    position:absolute;
    z-index:4;
    top:320vh;
    height:30%;
    left:5vw;
}

.googleplay{
   position:absolute;
   z-index:4;
   top:330vh;
   height:30%;
   left:5vw;
}

.appstore{
    position:absolute;
   z-index:4;
   top:325vh;
   height:30%;
   left:13vw;
}

.linha4{
    position:absolute;
    z-index:4;
    top:332vh;
    height:30%;
    left:5vw;
    width:50%;
    height:5%;

}

.logostarwars{
    position:absolute;
    z-index:4;
    top:335vh;
    width:40%;
    left:5vw;
   
}

.politicas{
    position:absolute;
    z-index:4;
    top:345vh;
    width:50%;
    left:5vw;
}

.darthvader{
    position:absolute;
    z-index:4;
    top:300vh;
    left:20vw;
    height:100%;
}

.vainaweb{
    position:absolute;
    z-index:4;
    top:350vh;
    width:50%;
    left:30vw;
}